*{

    padding: 0 auto;
    margin: 0 auto;
}

#contenedor {

    width: 800px;
    height: 500px;
    background-color: gray;
    max-width: 0 auto;

}

#izquierda {
    float: left;
    height: 45%;
    width: 45%;
    text-align: justify;
    margin-left: 5%;
}


#derecha {
    float: right;
    height: 45%;
    width: 45%;
    text-align: center;
    margin-right: 5%;
}


